html, body {
    height: 100%;
    margin: 0;
}


header { 
    background-color: blue;
     color: white; 
     text-align: center; 
     padding: 20px
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}



aside { 
    width: 33.33%; 
    padding: 20px; 
    background-color: #e0e0e0; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
  }

