body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
  footer {
    margin-top: auto;
}

p {

    text-align: center;

    color: aqua;

}

h1 {

    text-align: center;
    color: cadetblue;

}

